*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: #303030;
    color: #fff;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden {
    display: none;
}

.info {
    position: absolute;
    top: 2rem;
    right: 5rem;
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;

    .health {
        color: red;
        margin-bottom: 1rem;
    }
    .score {
        color: white;
    }
}

.end-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: #222;
    text-align: center;

    .text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate( -50%, -50% );
        user-select: none;

        color: #eee;

        .message {
            font-size: 12rem;
            letter-spacing: 2rem;
            margin-bottom: 10rem;
        }

        .try-again-btn {
            display: inline-block;
            padding: 2rem 10rem;
            border: 2px solid #eee;
            border-radius: 1rem;
            letter-spacing: 1rem;
            font-size: 6rem;
            transition: all 200ms;
        }
        .try-again-btn:hover {
            cursor: pointer;
            transform: scale( 1.05, 1.05 );
        }
        .try-again-btn:active {
            transform: translateY( 1rem );
        }
    }
}